html {
    background-color: #b8d6ed;
    background-image: url("../image/bricks.png");
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
}

body {
    background-color: rgb(222, 184, 135);
    width: 600px;
    margin: 30px auto;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

p {
    color: rgb(118, 1, 85);
}

h1 {
    margin: 0 auto;
    padding: 20px 0;
    color: #005fb1;
    text-align: center;
    text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.259);
}

img[alt="Shiina Mashiro"]:hover {
    box-shadow: 0px 0px 20px rgba(253, 255, 190, 0.568);
}

.serif {
    font-family: "Times New Roman", serif;
}

#lmz-introduction {
    color: black;
    font-size: 16px;
    margin: 15px;
}

#whylmz-img {
    margin-right: 2em
}

button {
    background-color: bisque;
    color: rgb(72, 72, 72);
}

button:hover {
    background-color: rgb(253, 240, 224);
}

figcaption {
    font-size: 14px;
    color: rgb(55, 55, 55);
}

#images {
    display: flex;
}